.container {
  display: flex;
  margin: 50px;
  background-color: #3535353f;
  border-radius: 5px;
}

.menu {
  display: inline-flex;
  align-items: center;
  margin: 20px;
  margin-left: 100px;

}
.menu > li {
  background-color: rgba(174, 230, 211, 0.253);
  border-radius: 10%;
  color: #ffffff;
  
  margin: 25px;
  padding: 20px;
  cursor: pointer;
}
/* .container.logo{
    display: flex;

} */

.menu > li:hover {
  background-color: rgb(197, 39, 245);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  transition: cubic-bezier(0.6, 0.45,3, 0.335);
}


.circlecontainer {
  position: relative;
  width: 200px;
  height: 200px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height:100%;
  border-radius: 3%;
  background-color: #f1c40f; /* Cambia el color de fondo del círculo según tus necesidades */
}

.circleimage {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 140px; /* Ajusta el ancho de la imagen según tus necesidades */
  height: 105px; /* Ajusta la altura de la imagen según tus necesidades */
  overflow: hidden;
  object-fit: cover;
}
