.smooth_scroll_links {
  display: flex;
  justify-content: center;
  background-color: #4600b611;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.smooth_scroll_links a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px;
  font-size: 20px;
}

.smooth_scroll_links a:hover {
  color: #ffffff;
  border-bottom: 2px solid #47fff6;
}
.smooth_scroll_links:hover {
  background-color: #ddc9fd; /* Color de fondo diferente al hacer hover */
}