@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #b487fd;
  cursor: url('/public/images/calaca.png'), auto;
}
body {
  background: linear-gradient(to left, #41ffe6, #fa78ff);
  animation: background-animation 10s ease infinite;
  cursor: url('/public/images/calaca.png'), auto;
}

@keyframes background-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #9e61ff;
}
button{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* body {
	background-image: url('https://images3.alphacoders.com/118/1185304.png');
	background-size: cover;
	background-repeat: no-repeat;
} */
